@using kreaTid.Models;
@model IEnumerable<kreaTid.Models.BlogPost>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>


@*<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.BlogPostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPostContent)
            </th>
            <th>
                <b>Images</b>
            </th>
            <th>
                <b>Comments</b>
            </th>
            <th></th>
        </tr>
    </thead>*@

<div class="grid-container">

    @foreach (BlogPost blogPost in Model)

    {
        <div style="height:auto; font-size:1em;">
            <h3>   @blogPost.BlogPostTitle</h3>

            @foreach (BlogPostImg BPI in blogPost.BlogPostImgs.Take(1))
            {
                <p>
                    @await Html.PartialAsync("_BlogPostImg", BPI)
                </p>
            }
            <p class="bp-content">
                @blogPost.BlogPostDate.ToString("dd/MM/yyyy")<br />
                @blogPost.BlogPostContent
            </p>
            <br />
            <h4><bold>Kommentar</bold></h4>
            @foreach (BlogPostComment Bc in blogPost.BlogPostComments)
            {
                <p>@await Html.PartialAsync("_BlogPostComment", Bc)</p>


            }
            <label>Kommentar: </label><input /><button>Tilføj</button>
            <br />

            @*@await Html.PartialAsync"_BlogPostComment", bc)*@


            @*@item.BlogPostDate.ToString("dd/MM/yyyy")*@
        </div>


    }

    }

</div>


